[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rimsopheap
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rimsopheap
	label-Verified = -1..+1 group user/rimsopheap
	push = group user/rimsopheap
	read = group user/rimsopheap
	rebase = group user/rimsopheap
	removeReviewer = group user/rimsopheap
	submit = group user/rimsopheap
[access "refs/heads/*"]
	create = group user/rimsopheap
	push = +force group user/rimsopheap
	pushMerge = group user/rimsopheap
	read = group user/rimsopheap
[access "refs/tags/*"]
	push = group user/rimsopheap
	push = +force group user/rimsopheap
